<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Mes films</title>
</head>
<body>
 <h1> CineMAnager</h1>
 <br> <br>
 <h3>Mes films</h3>
 <br> <br>
 <div th:each="film : ${lstFilms}">
	<span th:text="${film.titre}"/>
	
	
	
	
	<a th:href="@{/detailsFilm/{id}(id=${film.idFilm})}">voir</a>
	<a th:href="@{/modifyFilm/{id}(id=${film.idFilm})}">modifier</a>
	<a th:href="@{/deleteFilm/{id}(id=${film.idFilm})}">effacer</a>
	<hr>
</div>

<a href="/addFilm">ajouter</a>
 <br><br>
<a href="/">Retour</a>
</body>
</html>