<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Les salles</title>
</head>
<body>
 <h1> CineMAnager</h1>
 <br> <br>
 <h3>Salles</h3>
 <br> <br>
 <div th:each="salle : ${lstSalles}">
	<span th:text="${salle.nomSalle}"/>
	
	<a th:href="@{/detailsSalle/{id}(id=${salle.idSalle})}">voir</a>
	<a th:href="@{/modifySalle/{id}(id=${salle.idSalle})}">modifier</a>
	<a th:href="@{/deleteSalle/{id}(id=${salle.idSalle})}">effacer</a>
	<hr>
</div>

<a href="/addSalle">ajouter</a>
 <br><br>
<a href="/">Retour</a>
</body>
</html>