<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Mes seances</title>
</head>
<body>
 <h1> CineMAnager</h1>
 <br> <br>
 <h3>Mes seances </h3>
 <br> <br>
 <div th:each="seance : ${lstSeances}">


	<span th:text="${#temporals.format(seance.dateSeance,'dd/MM/yyyy')}"/>
	<span th:text="${#temporals.format(seance.heureDebut,'hh:mm')}"/>
	<span th:text="${seance.prixSeance}"/> euros

	<a th:href="@{/detailsSeance/{id}(id=${seance.idSeance})}">voir</a>
	<a th:href="@{/modifySeance/{id}(id=${seance.idSeance})}">modifier</a>
	<a th:href="@{/deleteSeance/{id}(id=${seance.idSeance})}">effacer</a>
</div>

<a href="/addSeance">Ajouter</a>
 <br><br>
<a href="/">Retour</a>
</body>
</html> 